go 1.24

toolchain go1.24.8

use (
	./arrow-consumer-demo/go
	./contract-invocation-processor/go
	./stellar-arrow-source/go
	./stellar-live-source-datalake/go
	./stellar-live-source/go
	./ttp-processor/go
)
