go 1.25.4

use (
	./account-balance-processor/go
	./arrow-consumer-demo/go
	./bronze-silver-transformer/go
	./contract-events-processor/go
	./contract-invocation-processor/go
	./duckdb-consumer/go
	./ducklake-ingestion-obsrvr-v3/go
	./ducklake-ingestion-processor/go
	./obsrvr-lake/contract-event-index-transformer/go
	./obsrvr-lake/index-plane-transformer/go
	./obsrvr-lake/postgres-ducklake-flusher/go
	./obsrvr-lake/silver-cold-flusher/go
	./obsrvr-lake/silver-realtime-transformer/go
	./obsrvr-lake/stellar-postgres-ingester/go
	./obsrvr-lake/stellar-query-api/go
	./silver-transformer
	./stellar-arrow-source/go
	./stellar-live-source-datalake/go
	./stellar-live-source-sdk/go
	./stellar-live-source/go
	./ttp-processor-sdk/go
	./ttp-processor/go
)
