{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "API for querying Stellar blockchain data across Bronze, Silver, and Gold data layers.\n\n## Data Layers\n- **Bronze**: Raw blockchain data (ledgers, transactions, operations, effects)\n- **Silver**: Enriched and processed data (accounts, assets, transfers, trades)\n- **Gold**: Analytical views (snapshots, compliance reports)\n- **Index Plane**: Fast lookup services (transaction hash, contract events)\n\n## Amount Formatting\nAll amounts are returned in decimal format with 7 decimal places (Stellar stroops conversion).\nExample: Raw stroops `10000000` is formatted as `\"1.0000000\"`",
        "title": "Stellar Query API",
        "contact": {
            "name": "OBSRVR Team",
            "url": "https://obsrvr.com",
            "email": "support@obsrvr.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "gateway.withobsrvr.com",
    "basePath": "/",
    "paths": {
        "/api/v1/bronze/accounts": {
            "get": {
                "description": "Returns raw account snapshots from hot and cold storage for a given account ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw account data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Stellar account ID (G...)",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/bronze/contract_events": {
            "get": {
                "description": "Returns raw Soroban contract event data from hot and cold storage for a given ledger sequence range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw contract events",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Start ledger sequence",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End ledger sequence",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contract event data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/bronze/effects": {
            "get": {
                "description": "Returns raw effect data from hot and cold storage for a given ledger sequence range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw effects",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Start ledger sequence",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End ledger sequence",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Effect data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/bronze/ledgers": {
            "get": {
                "description": "Returns raw ledger data from hot and cold storage for a given sequence range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw ledgers",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Start ledger sequence",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End ledger sequence",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order: sequence_asc (default), sequence_desc, closed_at_asc, closed_at_desc, tx_count_desc",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ledger data with source info",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/bronze/offers": {
            "get": {
                "description": "Returns raw DEX offer data from hot and cold storage for a given seller ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw offers",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Seller account ID (G...)",
                        "name": "seller_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Offer data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/bronze/operations": {
            "get": {
                "description": "Returns raw operation data from hot and cold storage for a given ledger sequence range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw operations",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Start ledger sequence",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End ledger sequence",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/bronze/trades": {
            "get": {
                "description": "Returns raw DEX trade data from hot and cold storage for a given ledger sequence range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw trades",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Start ledger sequence",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End ledger sequence",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trade data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/bronze/transactions": {
            "get": {
                "description": "Returns raw transaction data from hot and cold storage for a given ledger sequence range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw transactions",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Start ledger sequence",
                        "name": "start",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "End ledger sequence",
                        "name": "end",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/bronze/trustlines": {
            "get": {
                "description": "Returns raw trustline data from hot and cold storage for a given account ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Bronze"
                ],
                "summary": "Get raw trustlines",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Stellar account ID (G...)",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trustline data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/explorer/contracts": {
            "get": {
                "tags": [
                    "Contract Registry"
                ],
                "summary": "List contract registry entries",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by category (token, dex, oracle, etc.)",
                        "name": "category",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by project (soroswap, redstone, etc.)",
                        "name": "project",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by source (manual, token_registry, etc.)",
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Max results (default: 50, max: 500)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract Registry"
                ],
                "summary": "Add/update contract registry entry",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/explorer/contracts/search": {
            "get": {
                "tags": [
                    "Contract Registry"
                ],
                "summary": "Search contract registry",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Search query (matches display_name)",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Max results (default: 20, max: 100)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/explorer/contracts/seed": {
            "post": {
                "tags": [
                    "Contract Registry"
                ],
                "summary": "Re-seed contract registry from token_registry",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/explorer/contracts/{id}": {
            "get": {
                "tags": [
                    "Contract Registry"
                ],
                "summary": "Get contract registry entry",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Contract ID (C... address)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.ContractRegistryEntry"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contract Registry"
                ],
                "summary": "Delete contract registry entry",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Contract ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/explorer/events": {
            "get": {
                "description": "Returns paginated Soroban contract events enriched with contract names and semantic type classification",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Explorer"
                ],
                "summary": "Get explorer events",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Comma-separated event types (dynamically derived from classification rules)",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "UI tab shortcut: transfers, swaps, mints_burns, contract_calls",
                        "name": "tab",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by contract ID (C... address)",
                        "name": "contract_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search by contract/token name (case-insensitive substring)",
                        "name": "contract_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by transaction hash",
                        "name": "tx_hash",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Substring match across all decoded topics (case-insensitive)",
                        "name": "topic_match",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Exact match on topic position 0",
                        "name": "topic0",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Exact match on topic position 1",
                        "name": "topic1",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Exact match on topic position 2",
                        "name": "topic2",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Exact match on topic position 3",
                        "name": "topic3",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Start of ledger range",
                        "name": "start_ledger",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "End of ledger range",
                        "name": "end_ledger",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Max results (default: 20, max: 200)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination cursor from previous response",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order: asc or desc (default: desc)",
                        "name": "order",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explorer events with metadata and pagination",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/explorer/events/rules": {
            "get": {
                "description": "Returns the currently loaded classification rules",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Explorer"
                ],
                "summary": "Get event classification rules",
                "responses": {
                    "200": {
                        "description": "Classification rules",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/explorer/events/rules/reload": {
            "post": {
                "description": "Reloads classification rules from the database without restarting",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Explorer"
                ],
                "summary": "Reload event classification rules",
                "responses": {
                    "200": {
                        "description": "Reload result",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Reload failed",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/explorer/summary": {
            "get": {
                "description": "Returns the aggregated summary payload for the explorer home page, including header, hero, alert, leaders, contracts needing attention, utilization, meta, and provenance. This handler is exposed on both /api/v1/explorer/summary and /api/v1/home/summary.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Explorer"
                ],
                "summary": "Get explorer home summary",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 4,
                        "description": "Maximum number of leaders/contracts-needing-attention to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explorer home summary",
                        "schema": {
                            "$ref": "#/definitions/main.ExplorerHomeSummaryResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "503": {
                        "description": "Explorer summary unavailable",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/compliance/archive": {
            "post": {
                "description": "Creates an async archive job for comprehensive compliance data export with methodology documentation",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Compliance"
                ],
                "summary": "Create full compliance archive job",
                "parameters": [
                    {
                        "description": "Archive job request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/main.FullArchiveRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Archive job created",
                        "schema": {
                            "$ref": "#/definitions/main.FullArchiveResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "405": {
                        "description": "Method not allowed",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/compliance/archive/{id}": {
            "get": {
                "description": "Returns the current status and artifacts of an archive job",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Compliance"
                ],
                "summary": "Get archive job status",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Archive job ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archive job status",
                        "schema": {
                            "$ref": "#/definitions/main.FullArchiveStatusResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Archive not found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/compliance/archive/{id}/download/{artifact}": {
            "get": {
                "description": "Downloads specific artifacts from a completed archive (methodology.md, manifest.json)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "tags": [
                    "Compliance"
                ],
                "summary": "Download archive artifact",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Archive job ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact name (methodology.md, manifest.json)",
                        "name": "artifact",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Artifact file download",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Archive or artifact not found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/compliance/balances": {
            "get": {
                "description": "Returns all holders of an asset at a specific timestamp (supports JSON, CSV, Parquet export)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Compliance"
                ],
                "summary": "Get asset balance archive at timestamp",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset code (e.g., USDC, XLM)",
                        "name": "asset_code",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Asset issuer account ID (required for non-native assets)",
                        "name": "asset_issuer",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Point in time: RFC3339 (2025-12-31T23:59:59Z) or date (2025-12-31)",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Minimum balance filter (in stroops)",
                        "name": "min_balance",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return (default: 1000, max: 10000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Output format: json (default), csv, parquet",
                        "name": "format",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Balance archive data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/compliance/lineage": {
            "get": {
                "description": "Returns audit trail of completed archives for an asset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Compliance"
                ],
                "summary": "Get archive lineage",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by asset code",
                        "name": "asset_code",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by asset issuer",
                        "name": "asset_issuer",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return (default: 50, max: 100)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archive lineage data",
                        "schema": {
                            "$ref": "#/definitions/main.LineageResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/compliance/supply": {
            "get": {
                "description": "Returns daily/weekly/monthly supply totals for an asset over a date range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Compliance"
                ],
                "summary": "Get asset supply timeline",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset code (e.g., USDC, XLM)",
                        "name": "asset_code",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Asset issuer account ID (required for non-native assets)",
                        "name": "asset_issuer",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start date (YYYY-MM-DD format)",
                        "name": "start_date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "End date (YYYY-MM-DD format)",
                        "name": "end_date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Time interval: day (default), week, month",
                        "name": "interval",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Output format: json (default), csv, parquet",
                        "name": "format",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Supply timeline data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/compliance/transactions": {
            "get": {
                "description": "Returns transaction lineage for an asset within a date range (supports JSON, CSV, Parquet export)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Compliance"
                ],
                "summary": "Get asset transaction archive",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset code (e.g., USDC, XLM)",
                        "name": "asset_code",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Asset issuer account ID (required for non-native assets)",
                        "name": "asset_issuer",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start date (YYYY-MM-DD format)",
                        "name": "start_date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "End date (YYYY-MM-DD format)",
                        "name": "end_date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "Include failed transactions (default: false)",
                        "name": "include_failed",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return (default: 1000, max: 10000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Output format: json (default), csv, parquet",
                        "name": "format",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction archive data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/snapshots/account": {
            "get": {
                "description": "Returns the state of an account at a specific point in time (point-in-time query)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Gold"
                ],
                "summary": "Get account snapshot at timestamp",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Stellar account ID (G...)",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Point in time: RFC3339 (2025-12-31T23:59:59Z) or date (2025-12-31)",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account state at timestamp",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/snapshots/accounts/batch": {
            "post": {
                "description": "Returns state for multiple accounts (up to 100) at a specific point in time",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Gold"
                ],
                "summary": "Get batch account snapshots at timestamp",
                "parameters": [
                    {
                        "description": "Batch request with account IDs and timestamp",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/main.BatchAccountsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account states at timestamp",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/snapshots/balance": {
            "get": {
                "description": "Returns all holders of an asset at a specific point in time with their balances",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Gold"
                ],
                "summary": "Get asset holders at timestamp",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Asset code (e.g., USDC, XLM)",
                        "name": "asset_code",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Asset issuer account ID (required for non-native assets)",
                        "name": "asset_issuer",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Point in time: RFC3339 (2025-12-31T23:59:59Z) or date (2025-12-31)",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return (default: 1000, max: 10000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Minimum balance filter (in stroops)",
                        "name": "min_balance",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of asset holders at timestamp",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/gold/snapshots/portfolio": {
            "get": {
                "description": "Returns all asset balances for an account at a specific point in time (point-in-time query)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Gold"
                ],
                "summary": "Get portfolio snapshot at timestamp",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Stellar account ID (G...)",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Point in time: RFC3339 (2025-12-31T23:59:59Z) or date (2025-12-31)",
                        "name": "timestamp",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Portfolio balances at timestamp",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/home/summary": {
            "get": {
                "description": "Returns the aggregated summary payload for the explorer home page, including header, hero, alert, leaders, contracts needing attention, utilization, meta, and provenance. This handler is exposed on both /api/v1/explorer/summary and /api/v1/home/summary.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Explorer"
                ],
                "summary": "Get explorer home summary",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 4,
                        "description": "Maximum number of leaders/contracts-needing-attention to return",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Explorer home summary",
                        "schema": {
                            "$ref": "#/definitions/main.ExplorerHomeSummaryResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "503": {
                        "description": "Explorer summary unavailable",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/index/contracts/health": {
            "get": {
                "description": "Returns Contract Event Index health status and coverage statistics",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ContractIndex"
                ],
                "summary": "Get Contract Index health",
                "responses": {
                    "200": {
                        "description": "Index health status and statistics",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/index/contracts/lookup": {
            "post": {
                "description": "Lookup ledger activity for up to 100 contracts in a single request",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ContractIndex"
                ],
                "summary": "Batch lookup contracts",
                "parameters": [
                    {
                        "description": "Request body with contract_ids array",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Batch lookup results",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "405": {
                        "description": "Method not allowed (POST required)",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/index/contracts/{contract_id}/ledgers": {
            "get": {
                "description": "Returns list of ledger sequences containing events from a specific contract",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ContractIndex"
                ],
                "summary": "Get ledgers with contract events",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Contract ID (C... address or 64-char hex hash)",
                        "name": "contract_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Minimum ledger sequence filter",
                        "name": "start_ledger",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum ledger sequence filter",
                        "name": "end_ledger",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return (default: 1000, max: 10000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of ledger sequences",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/index/contracts/{contract_id}/summary": {
            "get": {
                "description": "Returns detailed event summary for a contract including event types and counts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ContractIndex"
                ],
                "summary": "Get contract event summary",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Contract ID (C... address or 64-char hex hash)",
                        "name": "contract_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Minimum ledger sequence filter",
                        "name": "start_ledger",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum ledger sequence filter",
                        "name": "end_ledger",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contract event summary",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/index/health": {
            "get": {
                "description": "Returns Index Plane health status and coverage statistics",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Index"
                ],
                "summary": "Get Index Plane health",
                "responses": {
                    "200": {
                        "description": "Index health status and statistics",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/index/transactions/lookup": {
            "post": {
                "description": "Lookup up to 1000 transaction hashes in a single request",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Index"
                ],
                "summary": "Batch lookup transactions by hash",
                "parameters": [
                    {
                        "description": "Request body with hashes array",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Batch lookup results with found/total counts",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "405": {
                        "description": "Method not allowed (POST required)",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/index/transactions/{hash}": {
            "get": {
                "description": "Fast O(1) lookup of transaction location by hash using the Index Plane",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Index"
                ],
                "summary": "Lookup transaction by hash",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Transaction hash",
                        "name": "hash",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction location data",
                        "schema": {
                            "$ref": "#/definitions/main.TxLocation"
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Transaction not found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/semantic/defi/exposure": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "DeFi Positions"
                ],
                "summary": "Get aggregated DeFi exposure for a user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User address",
                        "name": "address",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "USD",
                        "description": "Quote currency",
                        "name": "quote",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Optional protocol filter",
                        "name": "protocol",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.DefiExposureResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/semantic/defi/markets": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "DeFi Markets"
                ],
                "summary": "List DeFi markets",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by protocol id",
                        "name": "protocol",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by market type",
                        "name": "market_type",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": true,
                        "description": "Only active markets",
                        "name": "active_only",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Max results",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination cursor",
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/semantic/defi/positions": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "DeFi Positions"
                ],
                "summary": "List DeFi positions for a user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User address",
                        "name": "address",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "USD",
                        "description": "Quote currency",
                        "name": "quote",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Optional protocol filter",
                        "name": "protocol",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "default": false,
                        "description": "Include closed positions",
                        "name": "include_closed",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 100,
                        "description": "Max results",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination cursor",
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.DefiPositionsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/semantic/defi/positions/{position_id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "DeFi Positions"
                ],
                "summary": "Get a single DeFi position",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Position ID",
                        "name": "position_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "USD",
                        "description": "Quote currency",
                        "name": "quote",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/semantic/defi/protocols": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "DeFi Registry"
                ],
                "summary": "List supported DeFi protocols",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by protocol status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by protocol category",
                        "name": "category",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "testnet",
                        "description": "Network name",
                        "name": "network",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/semantic/defi/status": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "DeFi Status"
                ],
                "summary": "Get DeFi protocol freshness and degradation status",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/main.DefiStatusResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/silver/accounts": {
            "get": {
                "description": "Returns a paginated list of all Stellar accounts with sorting and filtering options",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "List all accounts",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Maximum results to return (default: 100, max: 1000)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination cursor from previous response",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort field: balance (default)",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Sort order: asc, desc (default)",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Minimum balance filter in stroops",
                        "name": "min_balance",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of accounts with pagination info",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or cursor mismatch",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/silver/accounts/current": {
            "get": {
                "description": "Returns the current state of a Stellar account including balance, sequence number, and subentries",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get current account state",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Stellar account ID (G...)",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account data",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Missing or invalid account_id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/silver/accounts/history": {
            "get": {
                "description": "Returns historical snapshots of an account's state over time with cursor-based pagination",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account history",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Stellar account ID (G...)",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results to return (default: 50, max: 500)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination cursor from previous response",
                        "name": "cursor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account history with pagination info",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Missing or invalid parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/silver/accounts/signers": {
            "get": {
                "description": "Returns the signers and thresholds for a Stellar account in Horizon-compatible format",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account signers",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Stellar account ID (G...)",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account signers and thresholds",
                        "schema": {
                            "$ref": "#/definitions/main.AccountSignersResponse"
                        }
                    },
                    "400": {
                        "description": "Missing account_id",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Account not found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/silver/accounts/top": {
            "get": {
                "description": "Returns accounts with the highest XLM balances, useful for leaderboards",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get top accounts by balance",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Maximum results to return (default: 100, max: 1000)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of top accounts",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/api/v1/silver/accounts/{id}/balances": {
            "get": {
                "description": "Returns all balances including XLM and trustlines for a Stellar account",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account balances",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Stellar account ID (G...)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
[...]
